<div class="logo">
    <img src="img/header-logo.png" alt="Steady Works logo">
</div>

<div class="menu" ng-controller="header">
    <div class="responsive" scroll-to-item scroll-to="#top" offset="0"><span>Steady Works </span><img src="img/logo.png" alt="Steady Works logo"></div>

    <ul>
        <li class="about" scroll-to-item scroll-to=".section.about-us" offset="40"><div>about</div></li>
        <li class="services" scroll-to-item scroll-to=".section.services" offset="40"><div>services</div></li>
        <li class="technologies" scroll-to-item scroll-to=".section.technologies" offset="40"><div>technologies</div></li>
        <li class="why" scroll-to-item scroll-to=".section.why" offset="40"><div>why we</div></li>
        <li class="contact" scroll-to-item scroll-to=".content-bottom" offset="0"><div>contact</div></li>
    </ul>

    <div class="menu-button">
        <div>
            <span></span>
            <span></span>
            <span></span>
        </div>
    </div>
</div>