<!-- Popup -->
<div id="fade"></div>
<div id="popup">
    <div class="success">Message sent!</div>
    <div class="title">get a free quote</div>
    <form action="javascript:void(0);" method="post" onsubmit='send(this)'>
        <input type="text" name="name" id="name" placeholder="Name">
        <input type="text" name="company" id="company" placeholder="Company">
        <input type="text" name="email" id="email" placeholder="E-mail">
        <textarea name="message" id="message" placeholder="Message"></textarea>
        <input type="submit" value="get">
    </form>
</div>
<!-- ***** -->